{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["import", "jest", "sort-keys", "unused-imports"],
  "rules": {
    "jest/no-focused-tests": "error",
    "curly": ["error", "multi-line"],
    "arrow-body-style": 0,
    "default-case": 0,
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "parent"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
